body {
    font-family: Arial, sans-serif;
    background-color: #f17cd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0;
}

div {
    background-color: #fdd7f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    background-color: #f44dbc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #f45fc7;
}

.result {
    font-size: 1.5rem;
    margin-top: 20px;
}